DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=accessory_setia
DB_USER=accessory_setia
DB_PASSWORD=change-me
DB_HOST=localhost
DB_PORT=3306

TELEGRAM_BOT_TOKEN=
BALE_BOT_TOKEN=

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
